.App {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.ChatHistory {
	flex: 1;
	overflow-y: auto;
	background-color: black;
	color: white;
}

.new-chat button {
	width: max-content;
	border: 1px solid grey;
	background-color: black;
	font-family: courier;
	font-size: medium;
	color: lightgrey;
	margin: 10px;
	padding: 10px;
	font-weight: bold;
}

.chat {
	margin: 5px;
	padding: 5px;
}
.chat a {
	text-decoration: none;
	font-family: courier;
	font-size: medium;
	color: lightgrey;
}

.chat.selected {
	font-weight: bold;
}

.Main {
	flex: 5;
	display: flex;
	flex-direction: column;
}

.ModelSelector {
	flex: 1;
	background-color: #eee;
	text-align: center;
	font-family: courier;
	font-size: large;
}

.model-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.model-icon {
	width: 100px;
	height: 50px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	color: lightslategray;
}

.model-icon.selected {
	font-weight: bold;
	color: black;
}

.TextInput {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

.TextInput form {
	display: flex;
	width: 100%;
}

.input-field {
	flex-grow: 1;
	margin: 10px;
	padding: 10px;
	font-size: 16px;
	resize: none;
}

.submit-question-icon button,
.stop-generation-icon button {
	width: 64px;
	height: 64px;
	margin: 10px;
	padding: 10px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.submit-question-icon button {
	background-image: url("./img/submit-question-icon.png");
}

.stop-generation-icon button {
	background-image: url("./img/stop-generation-icon.png");
}

.ChatWindow {
	flex: 8;
	overflow-y: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th.senderColumn {
	width: 100px;
}

td {
	vertical-align: top;
	margin: 5px;
	padding: 5px;
}

td.senderCell {
	text-align: right;
	font-weight: bold;
}

td.textCell {
	height: 100%;
	position: relative;
	border-bottom: 1px solid darkslategrey;
}

.markdown-content p {
	margin-top: 0px;
	padding-top: 0px;
}
